$primary: #FCFFFF;
$text: #222222;
$turquoise-invert: #000000;

$navbar-item-hover-background-color: #3273DC;
$navbar-tab-hover-background-color: #ffffff;

$navbar-background-color: #209CEE;
$navbar-item-color: #000000;
$felt: #00e57f;
$custom-colors: ("felt": ($felt, #ffffff));

$button-text-hover-background-color: #27B5FF;

$navbar-item-hover-color: #a20800;

$navbar-height: 3.25rem;

@import "bulma/bulma.sass";