{% extends "base.html" %}

{% block content %}
<section class="hero is-felt is-bold is-large is-fullheight-with-navbar" style="margin-top: 0px;" id="hero">
	<div class="container" id="parent" style="display: flex; align-items: center;">
		<div class="container">
			<h1 class="title">
				404 - Not found
			</h1>
			 <h2 class="subtitle">Unfortunately, we couldn't properly route your request.</h2>
			 <div class="has-text-link"><a href="{{ url_for('main.index') }}">Go somewhere nice</a></div>
		</div>
 	</div>
</section>
{% endblock %}