{% extends "base.html" %}

{% block content %}

<div class="hero-body">
	<div class="container has-text-centered">
		<h1 class="title has-text-black" style="margin-top: 20px;">
			We aim to provide fast, fresh, and relevant movie recommendations. 
		</h1>
		<div class="container">
			<div class="column has-text-left">
				Tired of the same stale recommendations given by friends and colleagues? Constantly finding yourself scrolling past Netflix's "suggested for you" module only to watch another episode of Friends? Dont worry, we got you.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Relevance: </b> Giving us a single movie title or keyword is enough for us to provide you with high-quality movie recommendations forged from the bowels of big data.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Customizability: </b> Don't like what you're seeing? Customize your results by interacting with the "upvote" and "downvote" buttons under each movie recommendation. Through your feedback we will provide you with more relevant recommendation to improve your movie-watching experience!
 			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Freshness: </b> By randomizing our movie picks a bit and weighing how similar our recommendations are to your movie title, our application gives users “fresh” results even if provided highly similar input. 
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Speed</b> You don't have to wait a lick. By implementing both indexing and concurrency to our database of over 9500 movies, our application gives quality recommendations--fast.
			</div>
		</div>
	</div>
</div>
{% endblock %}