{% extends "base.html" %}

{% block content %}

<div class="hero-body">
	<div class="container has-text-centered">
		<h1 class="title has-text-black" style="margin-top: 20px;">
			What we've done so far
		</h1>
		<div class="container">
			<div class="column has-text-left">
			  	Poker isn't static. Our goal is to let you play the exact style of poker you want, whether you heard about it from friends or came up with it on your own. At the moment, this means PLO, bomb pots, straddles, double boards, checking in the dark, revealing your holecards in-hand, customizable time constraints, and much, much more.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Security: </b> No one can see your cards unless you reveal them. We were concerned by the methods used by other sites to keep your cards private, so we've taken a new approach. Unless you show them, your cards are in no way distributed to other clients at any point.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Customizability: </b> Play the game at your pace. You decide how much time players should have to act––simply set the small- and large-pot time multipliers when creating a table. For extra banter, allow players to reveal any/either of their holecards. In-game, simply double-click the card you want to show. Please note that revealing cards is enabled only if exactly two players remain in the hand. To view an exhaustive list detailing a given table's configuration, click the settings icon in-game.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Fidelity: </b> Keep track of who's winning by clicking the spreadsheet icon in-game. A csv file with detailed records will automatically be downloaded to your computer.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">72 Game </b><b class="has-text-felt">(9/10/19):</b> Win the main pot with 72 (no chopping) to collect a customizable bounty! In games where players are dealt more than two holecards, winning the bounty is only possible if you have exactly one seven and one deuce in your hand.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Running it twice </b><b class="has-text-felt">(9/16/19):</b> For the slightly more risk-adverse. If you and your opponent(s) get it all in before the river, you can now reduce variance just a tiny bit. Just make sure you and others in the hand have "run it twice" checked off in-game.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Mobile support </b><b class="has-text-felt">(9/25/19):</b> We've totally redesigned the user interface to make mobile play more seemless and eliminated a lot of pesky bugs that would only show up on the small screen. Unfortunately, however, the Donkhouse is not currently optimized for mobile, and your user experience may be slightly degraded if you're playing on the go.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Antes </b><b class="has-text-felt">(10/4/19):</b> More action, more fun. Antes can be pegged at customizable values when creating a table.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">PLO </b><b class="has-text-felt">(11/27/19):</b> A true gentleman's game. Now at the Donkhouse--and with all of the degenerate game additions you've grown to love. You get four cards instead of the usual two, and you have to play exactly two. Betting is capped at pot. A few observations: 1) If a board becomes four-to-a-flush, the probability that your opponents have flushes actually decreases! 2) Holding four connected cards in your hand is pretty sweet.
			</div>
		</div>
		<h1 class="title has-text-black">
			What's coming soon
		</h1>
		<div class="container">
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Game wizard:</b> A toolkit that enables you to design your take on the game from the ground up. Create streets in which you specify if cards are to be dealt to players or the board(s)--or perhaps there should be a round of drawing and/or discarding? Why not include a street for which each player must reveal a holecard? Of course, you can also designate how many holecards from a player's hand can play (or must play, if you so choose). The game engine was written expressly to support this type of dynamic game hosting, and deployment of this toolkit can be expected shortly.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Splitting the pot by equity:</b> If you really want to see how you stack up against your friends, this might be the option for you. Once again, activation will require consensus among all involved players.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Double decks:</b> Do you want sooted aces? Monochrome paired boards? We got you, boo.
			</div>
			<div class="column has-text-left">
			  	<b class="has-text-grey-darker">Rabbit hunting:</b> Sometimes you gotta chase those draws even when the hand's over, and that's okay. We're here to help.
			</div>
			<div class="column has-text-left">
				<b class="has-text-grey-darker">And more!</b> If you'd like to see something implemented that isn't mentioned here, please let us know! And of course, please consider making a donation to help keep the site running. BTC: 16emaaFUrgjAYf6JnMZ5Tfi9BD2amXFvEs
			</div>
			<div class="column has-text-left">
				<b class="has-text-grey-darker">What's with the name?</b> Action is good.
			</div>
		</div>
	</div>
</div>
{% endblock %}