{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
    	var negative_width = -$("#hero").width();
    	console.log(negative_width)
		$("#get_started").click(async function() {
			$("#start").animate({'margin-left': negative_width, 'margin-right': -negative_width}, 1000, function() {
				$("#start").remove();
				var width = $("#hero").width();
				$("#parent").append('<div class="box is-mobile is-centered is-fullwidth" id="select" style="margin-left: ' + width + 'px; margin-right: ' + -width + 'px; overflow: hidden;"><div class="column is-centered"><h1 class="title has-text-black">What movie would you like us to use as a reference point?</h1><input class="input is-large" type="text" name="movie_name" placeholder="Movie title"><button class="button is-block is-info is-large is-fullwidth">Go!</button></div></div>')
				$("#select").animate({'margin-left': 0, 'margin-right': 0}, 1000)
			});
		});
	});
</script>

<section class="hero is-felt is-bold is-large is-fullheight-with-navbar" style="margin-top: 0px;" id="hero">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
        {% for message in messages %}
            {% if "uccessful" in message or "Welcome" in message or "Thanks for" in message %}
              <div class="notification is-success" id="success">
                {{ message }}
            </div>
            {% else %}
            <div class="notification is-danger">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
	<div class="container" id="parent" style="display: flex; align-items: center;">
		<div class="container" id="start">
			<h1 class="title">
			  Home
			</h1>
			<h2 class="subtitle">
			  	Find movies you'll love with a recommendation system that improves as you use it.<br><b><span style="cursor:pointer" id="get_started">Get started</span></b>
			</h2>
		</div>
	</div>
</section>

{% endblock %}